.controls {
    display: flex;
    margin-top: 54px;
    justify-content: center;
    align-items: center;

    &-button-new {
        padding: 10px;
        border-radius: 57px;
        background-color: rgb(219, 219, 219);
        color: rgb(0, 0, 0);
        margin: 0 10px;
        font-size: 13px;
        outline: none;
        cursor: pointer;
    }

    &-button-request {
        @extend .controls-button-new;
        background-color: rgb(219, 219, 219);
    }

    &-button-stop {
        @extend .controls-button-new;
        background-color: rgb(219, 219, 219);
    }

    &-button-lost {
        opacity: .7;
    }
}